<div class="product">
  <img *ngIf="data.pictureUrl" [src]="data.thumbnailUrl" />
  <div class="product__info">
    <span class="product__info__name">
      {{ data.name }}
    </span>
    <div class="product__info__prices">
      <span class="product__info__prices__currentPrice">${{ data.price }}</span>
      <span class="product__info__prices__retailPrice" *ngIf="data.retailPrice"
        >${{ data.retailPrice }}</span
      >
    </div>
  </div>
  <div class="product__viewDetails">
    <button (click)="viewDetailsHandler()">View Details</button>
  </div>
</div>
